<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	
    <div class="footer" th:fragment="footer">
         <footer >
        <div class="fwrap" >
            <section class="footerInfo">
                    <ul>
                        <li><a href="">브랜드소개</a></li>
                        <li>이용안내</li>
                        <li>이용약관</li>
                        <li>개인정보취급방침</li>
                    </ul>
            </section>
            <section class="cop">
                <p>COPYRIGHT BY 2022 SHY. </p>
                <p>주식회사 SHY . 대표. 윤성호</p>
                <p>주소. 서울시 노원구 상계8동</p>
                <p>TEL. 010-4479-6511 </p>
            </section>
        </div>
    </footer>
    </div>
</html>